@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  /* TYPOGRAPHY */
  --fontSize-xxs: 0.8rem;
  --fontSize-small: 0.875rem;
  --fontSize-smallmedium: 0.9rem;
  --fontSize-medium: 1rem;
  --fontSize-mediumlLarge: 1.1rem;
  --fontSize-large: 1.25rem;
  --fontSize-xl: 1.5rem;
  --lineHeight-medium: 24px;
  --lineHeight-big: 32px;
  --letterSpacing-small: -1px;
  --letterSpacing-medium: -0.5px;
  --letterSpacing-normal: -0.85px;
  --fontWeight-medium: 500;
  --fontWeight-semiBold: 600;
  --fontWeight-Bold: 700;
  --fontWeight-mxBold: 900;

  /* SPACING */
  --space0: 0.6rem;
  --space1: 0.25rem;
  --space1-1: 0.35rem;
  --space2: 0.5rem;
  --space3: 0.65rem;
  --space3-1: 0.75rem;
  --space4: 1rem;
  --space5: 1.5rem;
  --space6: 2rem;
  --space7: 2.25rem;
  --space8: 2.5rem;
  --space9: 2.75rem;
  --space10: 3rem;
  --space11: 4rem;
  --space12: 5rem;

  /* Shadow Variables */
  --offsetX: 0;
  --offsetY: 2px;
  --dowBlur: 4px;
  --dowSpread: 2px;

  /* Clamp Variables */
  --minimumSize: 1rem;
  --maximumSize: 2rem;
  --clampVariable: clamp(var(--minimumSize), 1rem + 0.75vw, var(--maximumSize));

  /* ===== COLORS ===== */

  /*** Light Mode ***/

  /* Basic Colors */
  --background: #f4f6f9;
  --text: #222329;

  /* Cards */
  --card: #ffffff;
  --card-text: #222329;

  /* Main Brand Color */
  --brand: #7c3aed;
  --brand-text: #ffffff;

  /* Highlight Color */
  --highlight: #7c3aed;
  --highlight-text: #ffffff;

  /* Light Grey Section Colors */
  --surface: #eff1f4;
  --surface-text: #222329;

  /* Faded Text + Soft Grey */
  --soft: #eff1f4;
  --soft-text: #7a7c82;

  /* Lines + Borders */
  --line: #dce0e5;
  --input-bg: #dce0e5;

  /* Focus Ring */
  --focus: #7c3aed;

  /* Error / Danger */
  --error: #f04438;

  /* Sidebar */
  --sidebar-bg: #fafafa;
  --sidebar-text: #3f4044;
  --sidebar-dark: #171819;
  --sidebar-light: #f4f4f5;
  --sidebar-line: #e3e6ea;
  --sidebar-focus: #3b82f6;

  /* Status Colors */
  --done: #8b5cf6;
  --done-bg: #f3e8ff;

  --active: #dfe4e9;
  --active-bg: #dfeeee;

  --cancelled: #ef4444;
  --cancelled-bg: #fee2e2;

  --pending: #f59e0b;
  --pending-bg: #fef3c7;

  --shipped: #22c55e;
  --shipped-bg: #dcfce7;

  /* Gradient */
  --gradient-start: #ffe0ee;
  --gradient-end: #e0f0ff;

  /* Shadow color */
  --dowColor: var(--brand);
}

/*** Main Section ***/
.main-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

/*** Start of Sidebar-section ***/
.sidebar {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--space4);
  background-color: var(--sidebar-bg);
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid var(--line);
}

.sidebar-heading {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--space2);
  padding: var(--space4) var(--space5);
  border-bottom: 1px solid var(--sidebar-line);
}

.sidebar-heading p:nth-child(1) {
  font-size: var(--fontSize-medium);
  font-weight: var(--fontWeight-Bold);
  color: var(--sidebar-light);
  background-color: var(--brand);
  padding: var(--space2) var(--space3-1);
  border-radius: var(--space3-1);
}

.sidebar-heading p:nth-child(2) {
  font-size: var(--fontSize-mediumlLarge);
  font-weight: var(--fontWeight-semiBold);
  color: var(--sidebar-dark);
}

.sidebar-menu-lists {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--space1);
  padding: var(--space2) var(--space5);
}

.menu-list {
  width: 100%;
  height: auto;
}

.menu-list a {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--space3);
  text-decoration: none;
  color: var(--sidebar-text);
  padding: var(--space3);
  border-radius: var(--space3);
}

.menu-list a:hover {
  background-color: var(--surface);
}

.menu-list:nth-child(4) {
  background-color: var(--surface);
  border-radius: var(--space3);
}

.menu-list a span {
  font-size: 22px;
}

.menu-list a p {
  font-size: var(--fontSize-small);
  font-weight: var(--fontWeight-semiBold);
}

/*** End of Sidebar-section ***/

/*** Start of Right-section ***/
.right-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: var(--space2) 0 0 18%;
}

.header-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: var(--space2) var(--space2) var(--space4) var(--space8);
  border-bottom: 1px solid var(--line);
}

.header-left-container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--space4);
}

.menu-container {
  display: none;
}

.header-input-container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--space4);
  background-color: var(--background);
  padding: var(--space3);
  border: 1px solid var(--line);
  border-radius: var(--space3);
  transition: all 0.2s ease;
}

.header-input-container:focus-within {
  box-shadow: 0 0 0 1px var(--dowColor);
  border: 1px solid var(--sidebar-text);
}

.header-input-container span {
  font-size: 20px;
  color: var(--soft-text);
}

.header-input-container input {
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  background-color: var(--background);
}

.header-input-container input::placeholder {
  color: var(--soft-text);
  font-size: var(--fontSize-small);
}

.header-right-container {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--space3);
}

.icons-container span {
  font-size: 22px;
  color: var(--soft-text);
  cursor: pointer;
  padding: var(--space2);
}

.icons-container span:hover {
  background-color: var(--background);
  border-radius: var(--space3);
}

.notification-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.notification-container:hover {
  background-color: var(--background);
  border-radius: var(--space3);
}

.notification-container p {
  font-size: var(--space11);
  color: var(--error);
  margin: -3.7rem 0 0 -1.25rem;
}

.admin-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: var(--space3);
  padding: 0 0 0 var(--space4);
}

.icons-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--space2);
}

.avatar-container {
  width: 25%;
  height: 25%;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 1000rem;
}

.name-title-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.name-title-container p:nth-child(1) {
  font-size: var(--fontSize-small);
  font-weight: var(--fontWeight-Bold);
  color: var(--text);
}

.name-title-container p:nth-child(2) {
  font-size: var(--fontSize-small);
  color: var(--soft-text);
}

.bottom-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--space4);
  background: linear-gradient(
    100deg,
    var(--gradient-start),
    var(--gradient-end)
  );
  padding: var(--space6) var(--space4) var(--space6) var(--space8);
}

.order-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--space5);
  padding-left: var(--space1);
}

.orders-searchbar-and-newsales {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.orders-searchbar-and-newsales h1 {
  font-size: var(--clampVariable);
  font-weight: var(--fontWeight-mxBold);
  color: var(--sidebar-dark);
}

.searchbar-and-newsales {
  width: 48%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.orders-searchbar {
  width: 66%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--space3);
  background-color: var(--brand-text);
  padding: var(--space3);
  border-radius: var(--space3);
  border: 1px solid var(--line);
  transition: all 0.2s ease;
}

.orders-searchbar:focus-within {
  box-shadow: 0 0 0 1px var(--dowColor);
  border: 1px solid var(--sidebar-text);
}

.orders-searchbar span {
  font-size: 20px;
  color: var(--soft-text);
}

.orders-searchbar input {
  width: 80%;
  height: auto;
  border: none;
  outline: none;
  background-color: var(--brand-text);
}

.orders-searchbar input::placeholder {
  color: var(--soft-text);
  font-size: var(--fontSize-small);
}

.new-sales {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: var(--space3) var(--space3) var(--space3) 0;
  border-radius: var(--space2);
  column-gap: var(--space2);
  border: none;
  outline: none;
  background-color: var(--brand);
  color: var(--brand-text);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.new-sales:hover {
  background-color: #6525cc;
}

.new-sales span {
  font-size: 20px;
}

.new-sales p {
  font-size: var(--fontSize-small);
  font-weight: var(--fontWeight-semiBold);
}

.order-types {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: var(--space1);
  background-color: var(--active);
  padding: var(--space3) var(--space1);
  border-radius: var(--space3);
}

.order-listt {
  width: fit-content;
  height: auto;
}

.order-listt input {
  display: none;
}

.order-listt label {
  padding: var(--space2);
  font-size: var(--fontSize-small);
  font-weight: var(--fontWeight-semiBold);
  color: var(--soft-text);
  cursor: pointer;
}

.order-listt input:checked + label {
  background-color: var(--active-bg);
  border-radius: var(--space2);
  color: var(--card-text);
}

.first-card-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--space4);
  background-color: var(--brand-text);
  padding: var(--space6) var(--space5) var(--space5) var(--space5);
  border: 1px solid var(--line);
  border-radius: var(--space3);
}

.card-text {
  font-size: var(--fontSize-large);
  font-weight: var(--fontWeight-Bold);
  color: var(--sidebar-dark);
}

.first-card-text-and-button {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.first-card-texts {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-size: var(--fontSize-small);
  color: var(--soft-text);
  line-height: var(--lineHeight-medium);
}

.second-card-texts {
  display: none;
}

.first-card-text-and-button button {
  padding: var(--space3) var(--space4);
  border: 1px solid var(--line);
  outline: none;
  border-radius: var(--space3);
  background-color: var(--background);
  font-size: var(--fontSize-small);
  font-weight: var(--fontWeight-semiBold);
  color: var(--card-text);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.first-card-text-and-button button:hover {
  background-color: var(--brand);
  color: var(--brand-text);
}

.order-card-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: var(--brand-text);
  border: 1px solid var(--line);
  border-radius: var(--space3);
}

.order-contents {
  min-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.order-row {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  justify-content: start;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--line);
  padding: var(--space5) var(--space4);
  cursor: pointer;
}

.order-row:hover {
  background-color: var(--background);
}

.order-row:last-of-type {
  border: 0;
}

.order-cell {
  width: fit-content;
  height: auto;
  font-size: var(--fontSize-small);
  color: var(--card-text);
}

.order-cell span {
  font-size: 18px;
  color: var(--shipped);
}

.header {
  font-size: var(--fontSize-small);
  background-color: var(--background);
  border-top-left-radius: var(--space3);
  border-top-right-radius: var(--space3);
  padding: var(--space4);
}

.header p {
  color: var(--soft-text);
  font-weight: var(--fontWeight-Bold);
}

.first-cell-text p {
  font-size: var(--fontSize-small);
  color: var(--card-text);
  font-weight: var(--fontWeight-Bold);
}

.shipped {
  background-color: var(--shipped-bg);
  color: var(--shipped);
  border-radius: var(--space2);
  padding: var(--space1) var(--space2);
}

.pending {
  background-color: var(--pending-bg);
  color: var(--pending);
  border-radius: var(--space2);
  padding: var(--space1) var(--space2);
}

.cancelled {
  background-color: var(--cancelled-bg);
  color: var(--cancelled);
  border-radius: var(--space2);
  padding: var(--space1) var(--space2);
}

.dash span {
  color: var(--card-text);
  font-size: 10px;
}

.dates p {
  color: var(--soft-text);
}

.material-symbols-outlined {
  padding-left: var(--space3);
}

/*** End of right-section ***/

/*** Tablet Responsivenes ***/
@media screen and (max-width: 1140px) {
  .main-section {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .sidebar {
    display: none;
  }

  .right-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: var(--space4) 0 0 0;
  }

  .header-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: var(--space2) var(--space4) var(--space5) var(--space3);
    border-bottom: 1px solid var(--line);
  }

  .header-left-container {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: var(--space2);
  }

  .menu-container {
    width: fit-content;
    height: auto;
    display: flex;
  }

  .menu-container span {
    font-size: 30px;
    color: var(--card-text);
  }

  .header-right-container {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: var(--space3);
  }

  .bottom-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: var(--space4);
    background: linear-gradient(
      100deg,
      var(--gradient-start),
      var(--gradient-end)
    );
    padding: var(--space6) var(--space4) var(--space4) var(--space4);
  }

  .searchbar-and-newsales {
    justify-content: end;
  }

  .orders-searchbar {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: var(--space3);
    background-color: var(--brand-text);
    padding: var(--space3);
    border-radius: var(--space3);
    border: 1px solid var(--line);
    transition: all 0.2s ease;
  }

  .new-sales {
    display: none;
  }

  .first-card-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: var(--space4);
    background-color: var(--brand-text);
    padding: var(--space4) var(--space3) var(--space4) var(--space4);
    border: 1px solid var(--line);
    border-radius: var(--space3);
  }

  .order-card-section {
    min-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--brand-text);
    border: 1px solid var(--line);
    border-radius: var(--space3);
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .order-card-contents {
    min-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .first-card-texts {
    display: none;
  }

  .second-card-texts {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: var(--fontSize-small);
    color: var(--soft-text);
    line-height: var(--lineHeight-medium);
  }
}

/*** Mobile Responsiveness ***/
@media screen and (max-width: 540px) {
  .header-left-container {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: var(--space4);
    margin-left: -0.75rem;
  }

  .header-right-container {
    width: 26%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: var(--space3);
  }

  .admin-container {
    display: none;
  }

  .bottom-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: var(--space4);
    background: linear-gradient(
      100deg,
      var(--gradient-start),
      var(--gradient-end)
    );
    padding: var(--space6) var(--space2) var(--space4) var(--space2);
  }

  .order-types {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: var(--space1);
    background-color: var(--active);
    padding: var(--space3) var(--space1);
    border-radius: var(--space3);
    flex-wrap: wrap;
    line-height: var(--lineHeight-big);
  }

  .first-card-text-and-button {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: var(--space3);
  }

  .second-card-texts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: var(--fontSize-small);
    color: var(--soft-text);
    line-height: var(--lineHeight-medium);
  }
}
